h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.container {
	width: 960px;
	position: relative;
	margin: 0 auto;
}

.container .row:after {
	content: "";
	display: block;
	height: 0;
	clear: both;
}

.container .row .column {
	float: left;
	box-sizing: border-box;
}

.container .row .column.column-1 {
	width: 80px;
}

.container .row .column.column-2 {
	width: 160px;
}

.container .row .column.column-3 {
	width: 240px;
}

.container .row .column.column-4 {
	width: 320px;
}

.container .row .column.column-5 {
	width: 400px;
}

.container .row .column.column-6 {
	width: 480px;
}

.container .row .column.column-7 {
	width: 560px;
}

.container .row .column.column-8 {
	width: 640px;
}

.container .row .column.column-9 {
	width: 720px;
}

.container .row .column.column-10 {
	width: 800px;
}

.container .row .column.column-11 {
	width: 880px;
}

.container .row .column.column-12 {
	width: 960px;
}

section .container > h1 {
	font-size: 38px;
	font-family: sans-serif, 'Roboto';
	font-weight: 300;
	text-align: center;
}

section {
	padding: 60px 0;
}

a.btn_precommand {
	text-transform: uppercase;
	color: #fff;
	height: 30px;
	cursor: pointer;
	display: inline-block;
}

a.btn_precommand:after {
	content: "";
	height: 0;
	display: block;
	clear: both;
}

a.btn_precommand span {
	padding: 10px 20px 10px 10px;
	background: #24b3af;
	display: block;
	float: left;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	font-family: sans-serif, 'Roboto';
	font-weight: 500;
	font-size: 20px;
	height: 100%;
	line-height: 34px;
}

a.btn_precommand:hover span {
	background-color: #1c847f;
}

a.btn_precommand span.price {
	background: #66cac7;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
	padding: 10px 10px 10px 20px;
	font-size: 20px;
}

a.btn_precommand:hover span.price {
	background: #24b3af;
}

.legend {
	color: #125653;
	font-size: 13px;
	font-weight: 300;
	font-style: italic;
	font-family: sans-serif, 'Roboto';
	line-height: 1.15;
}

/* NAV */

.nav {
	background: #fff;
	background-color: rgba(255,255,255,0.5);
	position: fixed;
	width: 100%;
	height: 68px;
	z-index: 1000;
	
	-webkit-transition: background-color 0.25s;
	-moz-transition: background-color 0.25s;
	-o-transition: background-color 0.25s;
	transition: background-color 0.25s;
	
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
}

.nav.scrolled {
	background-color: rgba(255,255,255, 1);
}

.nav .logo {
	margin-top: 4px;
	display: block;
}

.nav a.btn_precommand {
	float: right;
	margin-top: 8px;
	visibility: hidden;
}

.nav.scrolled a.btn_precommand {
	visibility: visible;
}



/* HEADER */

section.header {
	padding: 0;
	background: #eaeaea url(../img/header-alt-2.jpg) no-repeat center center;
	min-height: 524px;
}

section.header .bonnes_resolutions {
	padding-top: 128px;
	width: 60%;
	color: #564e4e;
}

section.header .bonnes_resolutions h1 {
	margin: 0 0 20px 0;
	font-size: 46px;
	font-family: sans-serif, 'Roboto';
	font-weight: 300;
}

section.header .bonnes_resolutions li {
	font-size: 22px;
	font-family: sans-serif, 'Roboto';
	font-weight: 300;
	color: #24b3af;
}

section.header .bonnes_resolutions li + li {
	margin-top: 10px;
}

section.header .bonnes_resolutions span.num {
	display: inline-block;
	background: #24b3af;
	color: #fff;
	font-family: sans-serif, 'Roboto';
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	text-align: center;
	width: 28px;
	height: 28px;
	border-radius: 14px;
	margin-right: 12px;
}

section.header .bonnes_resolutions p {
	margin: 40px 0; 
	font-family: sans-serif, 'Roboto';
	font-weight: 500;
	font-size: 22px;
}

/* NOTRE SERVICE */

section.notre_service {
	padding: 0;
	background: #24b3af;
	color: #fff;
}

section.notre_service .photo {
	background: #fff;
	width: 280px;
	height: 360px;
	float: left;
	box-sizing: border-box;
	position: relative;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(-45deg, #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #ffffff 0%,#efefef 100%); /* IE10+ */
	background: linear-gradient(135deg, #ffffff 0%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

section.notre_service .photo .prise_secteur {
	position: absolute;
	top: 40px;
	right: -30px;
}

section.notre_service .photo .logo {
	position: absolute;
	top: 30px;
	left: 30px;
}

section.notre_service .photo .text {
	position: absolute;
	font-family: sans-serif, 'Roboto';
	font-size: 14px;
	font-style: italic;
	font-weight: 300;
	color: #564e4e;
	bottom: 50px;
	left: 50px;
}

section.notre_service .description {
	width: 680px;
	height: 360px;
	float: left;
	padding: 30px 0 0 40px;
	box-sizing: border-box;
	position: relative;
}

section.notre_service .description h1 {
	font-size: 38px;
	font-family: sans-serif, 'Roboto';
	font-weight: 300;
	margin-bottom: 10px;
}

section.notre_service .description .jumbo {
	font-size: 1.15em;
	font-weight: 700;
}

section.notre_service .description .jumbo .highligh {
	color: #11514e;
}

section.notre_service .description .row .column {
	width: 50%;
	font-size: 18px;
	font-family: sans-serif, 'Roboto';
	font-weight: 300;
	line-height: 1.5;
}

section.notre_service .description .row .column + .column {
	padding-left: 20px;
}

section.notre_service .description .row .column .highligh {
	font-weight: 700;
	font-size: 1em;
}

section.notre_service .legend {
	position: absolute;
	bottom: 10px;
}

img.freshee {
	vertical-align: middle;
	width: 70px;
	height: 34px;
}

/* COMMENT CA MARCHE */

section.comment_ca_marche {
	background: #66cac7 url(../img/ic_arrow_light.png) no-repeat center 30px;
}

section.comment_ca_marche .container > h1 {
	color: #fff;
}

section.comment_ca_marche .schema {
	position: relative;
	height: 760px;
}

section.comment_ca_marche .schema img,
section.comment_ca_marche .schema .text,
#how_step_path {
	position: absolute;
}

section.comment_ca_marche .schema img,
section.comment_ca_marche .schema .text {
	/*
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	*/
}

section.comment_ca_marche .schema.start_anim img,
section.comment_ca_marche .schema.start_anim .text {
	visibility: hidden;
}

section.comment_ca_marche .schema.start_anim img.how_1_sol_ombre,
section.comment_ca_marche .schema.start_anim img.how_2_sol_ombre,
section.comment_ca_marche .schema.start_anim img.how_3_sol_ombre,
section.comment_ca_marche .schema.start_anim img.how_4_sol_ombre {
	visibility: visible;
}

section.comment_ca_marche .schema .text {
	font-family: sans-serif, 'Roboto';
	font-weight: 100;
	font-size: 18px;
	color: #fff;
	line-height: 1.35;
}

section.comment_ca_marche .schema .text .highligh {
	font-weight: 700;
	font-size: 1.15em;
}

.text_1,
.text_3 {
	text-align: right;
}

#how_step_path { top: 130px; left: 330px; z-index: 50; }

#how_step_path_top { 
	stroke-dasharray: 815, 815;
	stroke-dashoffset: 815;
}

.start_anim #how_step_path_top { 
	stroke-dasharray: 815, 815;
	stroke-dashoffset: 0;
}

.how_1_sol_ombre { top: 70px; left: 500px; z-index: 101; }
.how_1_iconapp_ombre { top: 90px; left: 530px; z-index: 102; }
.how_1_thermometre_ombre { top: 90px; left: 650px; z-index: 103; }
.how_1_prise_secteur_ombre { top: 90px; left: 785px; z-index: 104; }
.how_1_iconapp { top: 45px; left: 570px; z-index: 105; }
.how_1_plus_1 { top: 70px; left: 666px; z-index: 106; }
.how_1_thermometre { top: 98px; left: 682px; z-index: 107; }
.how_1_plus_2 { top: 140px; left: 815px; z-index: 108; }
.how_1_prise_secteur { top: -40px; left: 800px; z-index: 109; }

.how_2_sol_ombre { top: 300px; left: -120px; width: 400px; z-index: 201; }
.how_2_tomate_ombre_1 { top: 300px; left: 20px; z-index: 202; }
.how_2_tomate_1 { top: 240px; left: 20px; z-index: 203; }
.how_2_tomate_ombre_2 { top: 320px; left: 80px; z-index: 204; }
.how_2_tomate_2 { top: 260px; left: 80px; z-index: 205; }
.how_2_tomate_ombre_3 { top: 340px; left: 30px; z-index: 206; }
.how_2_tomate_3 { top: 280px; left: 30px; z-index: 207; }
.how_2_milk_ombre { top: 290px; left: -70px; z-index: 207; }
.how_2_milk { top: 63px; left: -70px; z-index: 208; }

.how_2_check_1 { top: 174px; left: 100px;  z-index: 209; }
.how_2_check_2 { top: 214px; left: 100px;  z-index: 210; }
.how_2_milk_text { top: 172px; left: 140px; z-index: 212; }
.how_2_tomates_text { top: 212px; left: 140px; z-index: 213; }

.how_3_sol_ombre { top: 470px; left: 553px; z-index: 301; }
.how_3_phone_ombre_2 { top: 500px; left: 790px; z-index: 302; }
.how_3_phone_2 { top: 318px; left: 820px; z-index: 303; }
.how_3_phone_ombre_1 { top: 500px; left: 642px; z-index: 304; }
.how_3_phone_1 { top: 318px; left: 672px; z-index: 305; }
.how_3_temperature_alert { top: 425px; left: 672px; z-index: 306; }
.how_3_alert_background { top: 350px; left: 694px; z-index: 307;  }
.how_3_alert_bell { top: 372px; left: 713px; z-index: 308;  -webkit-transform-origin: 50% 0; transform-origin: 50% 0; }
.how_3_alert_wave_left_1 { top: 368px; left: 714px; z-index: 309; }
.how_3_alert_wave_left_2 { top: 363px; left: 709px; z-index: 310; }
.how_3_alert_wave_right_1 { top: 368px; left: 733px; z-index: 311; }
.how_3_alert_wave_right_2 { top: 363px; left: 733px; z-index: 312; }

.how_4_sol_ombre { top: 650px; left: 24px; width: 300px; z-index: 400; }
.how_4_poubelle_ombre { top: 642px; left: 110px; z-index: 401; }
.how_4_poubelle { top: 570px; left: 129px; z-index: 402; }
.how_4_couvercle { top: 560px; left: 130px; z-index: 403; -webkit-transform-origin: 0 100%; transform-origin: 0 100%; }
.how_4_forbidden { top: 554px; left: 194px; z-index: 404; }

.img_step_1 { top: 50px; left: 466px; z-index: 500; }
.img_step_2 { top: 230px; left: 310px; z-index: 600; }
.img_step_3 { top: 400px; left: 494px; z-index: 700; }
.img_step_4 { top: 620px; left: 290px; z-index: 800; }

.text_1 { top: 68px; left: 126px; z-index: 500; }
.text_2 { top: 260px; left: 418px; z-index: 600; }
.text_3 { top: 404px; left: 70px; z-index: 700; }
.text_4 { top: 624px; left: 402px; z-index: 800; }

.to_step_two #how_step_path_top { 
	-webkit-animation: to_step_two 0.5s linear forwards;
	-moz-animation: to_step_two 0.5s linear forwards;
	-o-animation: to_step_two 0.5s linear forwards;
	animation: to_step_two 0.5s linear forwards;
}

.to_step_three #how_step_path_top { 
	-webkit-animation: to_step_three 0.5s linear forwards;
	-moz-animation: to_step_three 0.5s linear forwards;
	-o-animation: to_step_three 0.5s linear forwards;
	animation: to_step_three 0.5s linear forwards;
}

.to_step_four #how_step_path_top { 
	-webkit-animation: to_step_four 0.5s linear forwards;
	-moz-animation: to_step_four 0.5s linear forwards;
	-o-animation: to_step_four 0.5s linear forwards;
	animation: to_step_four 0.5s linear forwards;
}

@-webkit-keyframes to_step_two {
    0%   	{ stroke-dashoffset: 0; }
    100%  	{ stroke-dashoffset: -220; }
}

@-webkit-keyframes to_step_three {
    0%   	{ stroke-dashoffset: -220; }
    100%  	{ stroke-dashoffset: -510; }
}

@-webkit-keyframes to_step_four {
    0%   	{ stroke-dashoffset: -510; }
    100%  	{ stroke-dashoffset: -815; }
}

@-moz-keyframes to_step_two {
    0%   	{ stroke-dashoffset: 0; }
    100%  	{ stroke-dashoffset: -220; }
}

@-moz-keyframes to_step_three {
    0%   	{ stroke-dashoffset: -220; }
    100%  	{ stroke-dashoffset: -510; }
}

@-moz-keyframes to_step_four {
    0%   	{ stroke-dashoffset: -510; }
    100%  	{ stroke-dashoffset: -815; }
}

@-o-keyframes to_step_two {
    0%   	{ stroke-dashoffset: 0; }
    100%  	{ stroke-dashoffset: -220; }
}

@-o-keyframes to_step_three {
    0%   	{ stroke-dashoffset: -220; }
    100%  	{ stroke-dashoffset: -510; }
}

@-o-keyframes to_step_four {
    0%   	{ stroke-dashoffset: -510; }
    100%  	{ stroke-dashoffset: -815; }
}

@keyframes to_step_two {
    0%   	{ stroke-dashoffset: 0; }
    100%  	{ stroke-dashoffset: -220; }
}

@keyframes to_step_three {
    0%   	{ stroke-dashoffset: -220; }
    100%  	{ stroke-dashoffset: -510; }
}

@keyframes to_step_four {
    0%   	{ stroke-dashoffset: -510; }
    100%  	{ stroke-dashoffset: -815; }
}

/* KIT COMPLET */

section.kit_complet {
	background: #f4f3f3 url(../img/ic_arrow_dark.png) no-repeat center 30px;
}

section.kit_complet .container > h1 {
	color: #564e4e;
}

section.kit_complet .kits {
	margin-top: 30px;
}

section.kit_complet .kit {
	padding: 20px 10px;
	text-align: center;
	color: #2c2222;
}

section.kit_complet .kit h4 {
	text-transform: uppercase;
	margin: 14px 0 4px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

section.kit_complet .kit p {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

/* RESUME */

section.resume {
	background: #e8c632 url(../img/ic_arrow_light.png) no-repeat center 30px;
}

section.resume .container > h1 {
	color: #fff;
}

section.resume .container p {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-family: sans-serif, 'Montserrat';
	font-weight: 400;
	margin-top: 30px;
	text-align: center;
	line-height: 1.45;
	padding: 0 10px;
}

/* DEV DURABLE */

section.dev_durable {
	background: transparent url(../img/dev_durable.jpg) no-repeat center top;
	background-size: cover;
	color: #fff;
}

section.dev_durable .container > h1 {
	font-size: 34px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 30px;
	padding-left: 10px;
}

section.dev_durable .column {
	padding: 0 10px;
	font-family: sans-serif, 'Roboto';
	font-weight: 100;
	line-height: 1.4;
	font-size: 18px;
}

section.dev_durable .highligh {
	font-weight: 500;
}

/* PETITS GESTES */

section.petits_gestes {
	color: #2c2222;
}

section.petits_gestes .column.desc {
	width: 758px;
	text-align: center;
	font-family: sans-serif, 'Montserrat';
	font-size: 17px;
	line-height: 1.35;
	padding: 60px 20px 0;
}

section.petits_gestes h1.highligh {
	font-size: 34px;
	font-family: sans-serif, 'Montserrat';
	font-weight: 700;
	margin: 30px 0;
}

section.petits_gestes .gestes {
	padding-bottom: 30px;
}

section.petits_gestes li {
	padding-left: 62px;
	font-family: sans-serif, 'Roboto';
	font-weight: 300;
	line-height: 1.3;
	font-size: 15px;
}

section.petits_gestes li p {
	height: 52px;
	display: table-cell;
	vertical-align: middle;
}

section.petits_gestes li + li {
	margin-top: 10px;
}

section.petits_gestes li.geste_01 {
	background: transparent url(../img/geste_ic_01.png) no-repeat left center;
}

section.petits_gestes li.geste_02 {
	background: transparent url(../img/geste_ic_02.png) no-repeat left center;
}

section.petits_gestes li.geste_03 {
	background: transparent url(../img/geste_ic_03.png) no-repeat left center;
}

section.petits_gestes li.geste_04 {
	background: transparent url(../img/geste_ic_04.png) no-repeat left center;
}

section.petits_gestes li.geste_05 {
	background: transparent url(../img/geste_ic_05.png) no-repeat left center;
}

section.petits_gestes li.geste_06 {
	background: transparent url(../img/geste_ic_06.png) no-repeat left center;
}

section.petits_gestes li.geste_07 {
	background: transparent url(../img/geste_ic_07.png) no-repeat left center;
}

section.petits_gestes li.geste_08 {
	background: transparent url(../img/geste_ic_08.png) no-repeat left center;
}

section.petits_gestes li.geste_09 {
	background: transparent url(../img/geste_ic_09.png) no-repeat left center;
}

section.petits_gestes li.geste_10 {
	background: transparent url(../img/geste_ic_10.png) no-repeat left center;
}

section.petits_gestes .legend {
	text-align: right;
	margin-top: 10px;
}

/* FOOTER */

section.footer {
	padding: 0;
	background-color: #1b8784;
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 13px;
	height: 56px;
}

section.footer .copyright {
	text-align: right;
	line-height: 56px;
}

@media screen and (max-width: 959px) {
    section {
        width: 960px;
    }
}

/* MODAL */

.modalbg {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	color: #fff;
	z-index: 99999;
	-moz-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	transition: all 1s ease-out;
	display: block;
	pointer-events: none;
}

.modalbg .dialog {
	width: 560px;
	min-height: 560px;
	position: relative;
	top: -1000px;
	margin: 20% auto;
	padding: 30px 40px;
	background: #24B3AF url(../img/bg_popup.png) no-repeat center bottom;
}

.modalbg .dialog .ie7 {
  /*filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);*/
}

.modalbg:target {
	display: block;
	pointer-events: auto;
	background: rgba(44, 63, 57, 0.8);
	-moz-transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

.modalbg:target .dialog {
	top: -120px;
	-moz-transition: all 0.6s ease-out;
	-webkit-transition: all 0.6s ease-out;
	-o-transition: all 0.6s ease-out;
	transition: all 0.6s ease-out;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-transition-delay: 0.1s;
}

.close {
	font-family: sans-serif, "Roboto";
	font-weight: 300 !important;
	font-size: 20px;
	line-height: 34px;
	color: #FFFFFF;
	background: transparent !important;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	font-weight: normal;
	-moz-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
	-webkit-transition-delay: 0.1s;
	-moz-transition-delay: 0.1s;
	-o-transition-delay: 0.1s;
	-transition-delay: 0.1s;
}

.close .ie7 {
  /*filter: progid:DXImageTransform.Microsoft.Shadow(color='#000000', Direction=135, Strength=3);*/
}

.close:hover {
	background: #209690 !important;
	-moz-transition: all 0.25s ease-out;
	-webkit-transition: all 0.25s ease-out;
	-o-transition: all 0.25s ease-out;
	transition: all 0.25s ease-out;
}

.dialog h1 {
	font-family: sans-serif, "Roboto";
	font-weight: 100;
	font-size: 50px;
	line-height: 1.25;
	margin: 0 0 20px;
	text-align: center;
}

.dialog span.freshee {
	background: transparent url(../img/logo_freshee_big_span.png) no-repeat left top;
	width: 172px;
	height: 80px;
	margin-bottom: -25px;
	text-indent: 172px;
	overflow: hidden;
	display: inline-block;
}

.dialog p {
	font-family: sans-serif, "Roboto";
	font-weight: 300;
	font-size: 18px;
	text-align: center;
}

.dialog form {
	margin: 30px 0 0 0;
	text-align: center;
}

.dialog form input[type=email] {
	display: inline-block;
	border: 0;
	height: 39px;
	padding: 0 26px 0 20px;
	width: 260px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	outline: 0;
	color: #444;
}

.dialog form input[type=submit] {
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #66CAC7;
	background: #66CAC7;
	height: 40px;
	padding: 0 14px 0 10px;
	text-align: center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	outline: 0;
	font-family: sans-serif, "Roboto";
	font-weight: 300;
	color: #fff;
	line-height: 40px;
}

.dialog form input[type=submit]:hover {
	border: 1px solid #209690;
	background: #209690;
}

.dialog .message {
	text-align: center;
	font-family: sans-serif, "Roboto";
	font-weight: 300;
	font-size: 18px;
	display: none;
	margin: 12px 0 0 0;
}

.dialog .message span {
	padding: 14px 26px;
	border-radius: 4px;
	display: inline-block;
	margin: 0 auto;
}

.dialog .message.info,
.dialog .message.error {
	display: block;
}

.dialog .message.info span {
	color: #fff;
	background: #34495e;
}

.dialog .message.error span {
	color: #fff;
	background: #e74c3c;
}

input:required:invalid, input:focus:invalid {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAL5JREFUeNpiYKAyYMQneczLSwFIGUAxCFwAYatt2x6QZCDQIAcgVQ/EDjj0HQDiRqDBBwgaCDSsAWoYMQBkaANOA0k0DKuhjGje3I9LE5TGZZkjzPtMSII4XQZyAbrX0ABcLxNSbDpQkFocoGbAXWhAhSRoQBMDWYhRCfMOMYAFKQfgAwlA/IGAmgukGJhPhOMuwMMQmjcP4FFcCMW4wAFY/mbCknixgQ8EvNxI+6xHk8KBJsUXpQUs1QFAgAEAleVMaY9gc6gAAAAASUVORK5CYII=);
	background-position: right 4px center;
	background-repeat: no-repeat;
	-moz-box-shadow: none;
}

input:required:valid {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAOtJREFUeNpiYKAyYMQn6X3STwFIGUAxCFwA4a3mmx6QZCDQIAcgVQ/EDjj0HQDiRqDBBwgaCDSsAWoYMQBkaANOA0k0DKuhjGje3E9mXDjCvM+EJEiKyz6g8etRXAiNzftEGpYIjW2QbwSQxBVBsQ9zoQERrgAbBtS0AIdFBsheNsBimCPUNSiGAX1jgMV1GAZiBVDXJBJhGBywIOUAZADSsB9ogCPMi0QYdgGfgSiGQvl4XQYzAzkd7seR1T4gWYALHAD6xBE9DBtxKBYgYBiKXiakCDiAx1BCWe8AfQoHmhRflBawVAcAAQYAAS9h/6973LsAAAAASUVORK5CYII=);
	background-position: right 4px center;
	background-repeat: no-repeat;
}